@charset "utf-8";

*{ margin:0; padding:0; list-style: none; text-decoration: none; } 

#header{height:100px; border-bottom: 1px solid;}
.header_wrap{ width:1200px; height:100px; margin:0 auto; }

h1{ float:left; line-height:100px; }
nav{ float:right; width:680px; height:50px; margin:25px 20px 0 0;}



    /*★수평네비게이션 전역 메뉴 전체 슬라이드 문제 출제시 
       반드시 .gnb 포지션+ 높이값 적용+ 오버플로우 적용.*/
    /*★★★★★★★★★★★★★*/
    .gnb{ position:absolute; height:50px; overflow: hidden; }
    /*★★★★★★★★★★★★★*/



.gnb>li{ width:170px; float:left; text-align: center; }
.gnb a{ display: block; width:170px; }

.gnb>li>a{ height:50px; line-height:50px;
           color:#fff; background: red; margin-bottom: 25px;}
.gnb>li>a:hover{ background: #000; }


    .gnb>li>ul{ border:1px solid; }
    .gnb>li>ul a{ 
        height:40px; line-height: 40px; 
        border-bottom:1px solid #d9d9d9;
        background: #fff; color:#000; }
    .gnb>li>ul a:hover{ background: blue; color:#fff; }



#container{ height:500px; background: yellow; }











