@charset "utf-8";

*{ margin:0; padding:0; list-style: none; text-decoration: none;
   border:0; background:none; font-family:돋움,arial; color:#333333; }
button{ cursor: pointer; }
.content2 button:hover, .content2 a:hover{ opacity:0.6; }


#wrap{ width:1000px; }
#header{ float:left; width:200px; height:650px; text-align: center; }
#container{ float:left; width:800px; height:550px;}
#footer{ float:left; width:800px; height:100px; }



/*A구역*/
h1{ margin:30px 0; }
nav{ width:180px; margin:0 auto; }

.gnb a{ display:block; }

.gnb>li>a{ height: 40px; margin-bottom:2px;line-height: 40px; font-size:18px;background: #1853b2; color:#fff; }
.gnb>li>a:hover, .gnb>li ul a:hover{ background: #fff000; color:#000; }

.gnb>li ul{ display: none; }
.gnb>li ul a{ height:30px; line-height: 30px; background:#fff;border-bottom: 1px dotted #d9d9d9; }

/*B,C구역*/
#container h2{ display:none; }

/*B구역*/
.content1{ height:350px;}

.content1 li{ position:absolute;}
.content1 li:nth-child(1){ z-index:3;}
.content1 li:nth-child(2){ z-index:2;}
.content1 li:nth-child(3){ z-index:1;}

/*C구역*/
.content2{ width:800px; height:200px; }
.content2>div{ width:266px; height: 200px; float:left; }

.content2 h3 button, .content2>div:not(:nth-of-type(1)) h3{ 
    width:120px; height:40px; margin:5px 0;
    line-height: 40px; font-size: 18px; font-weight: bold; text-align: left;
    border-bottom:3px solid #1853b2; box-sizing: border-box;  
}

.notice table{ width:246px; }
.notice td{ height:35px; border-bottom: 1px dotted #d9d9d9; }

.layer_popup{ position:fixed; z-index:4; display: none;
              width:400px; height:280px; 
              margin: -280px 0 0 200px; 
              background:#fff; border:1px solid #d9d9d9; }

.layer_popup h4{ height:50px; line-height: 50px; border-bottom: 3px solid #1853b2; 
                 text-indent: 20px;}

.layer_popup p:nth-of-type(1){ padding:20px 0 140px 20px; }
.layer_popup p:nth-of-type(2){ text-align: right; }
.layer_popup  button{ width:80px; height: 30px; margin-right: 20px; background:#1853b2; color:#fff; }


.gallery li{ width:75px; height:150px; float:left; overflow: hidden;}
.gallery li:nth-child(2){ margin:0 10px;}

.notice{ position: absolute; }
.gallery h3{ position: relative; margin-left:130px;}
.gallery ol{ display:none; }


#footer{ height:100px;}
#footer *{ float:left; }
#footer>p{ margin:30px 30px 0 0;}
#footer div{ width:570px; }
#footer li{ margin:40px 20px 5px 0; }
