@charset "utf-8";

*{ margin:0; padding:0; list-style:none; border:0; background: none;  text-decoration:none;  
   font-family:돋움,arial; color:#333333; font-style:normal; box-sizing:border-box;}
button{ cursor:pointer; }
button:hover{ opacity:0.4; }

#header, #container, #footer{ width:1200px; margin:0 auto; }

#header{ position:absolute; top:0; left:50%; z-index: 4;  margin-left:-600px; overflow:hidden;  
    height:100px;  background: url(../images/header_bg.png) no-repeat center bottom; }
.header_wrap{ height:100px;  background: url(../images/header_bg2.gif) no-repeat 470px bottom #ffffff;  }

h1{ float:left; margin-top:30px; }
nav{ width:680px; height:50px; float:right; margin-top:50px; background: #102b70;}
.gnb>li{ width:170px; float:left; text-align:center; }
.gnb a{ display:block; }

.gnb>li>a{ width:170px; height:50px; line-height:50px; font-size:18px; color:#fff; }
.gnb>li>a:hover{ background: #0f53ff; color:#fff; }

.gnb>li ul a{ height:30px; line-height:30px; font-size:14px; color:#000; border-bottom: 1px dotted #999; }
.gnb>li ul a:hover{ background: #102b70;  color:#fff; }

#container{ margin-top: 100px; }
#container h2{ display:none;}

.content1{ width:1200px; height:300px; }
.content1 li{ position: absolute; }
.content1 li:nth-child(1){ z-index:3; }
.content1 li:nth-child(2){ z-index:2; }
.content1 li:nth-child(3){ z-index:1; }


.content2>div{ width:400px; height:200px; float:left; }
.content2 h3{ height:40px; margin:5px 0; background:url(../images/title_bg.gif); 
              line-height:40px; width:150px; color:#fff; 
              font-weight: normal; font-size: 16px; text-indent: 30px;} 

.notice table{ width: 380px; }
.notice td{ height: 30px; border-bottom:1px dotted #d9d9d9; font-size:14px; text-indent: 5px;}

.layer_popup{ 
    display:none; border-radius: 30px; box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position:fixed; left:50%; top:50%; z-index:5; width:600px; height:400px; margin: -200px 0 0 -300px; 
	background: #ffd400; }

.layer_popup h4{ height:70px; border-bottom:1px solid rgba(0,0,0,0.2); line-height:70px; text-indent:20px; font-size:25px;}
.layer_popup p:nth-of-type(1){ padding:20px 0 220px 20px;}
.layer_popup p:nth-of-type(2){ text-align:right; }
.layer_popup button{ width:50px; height:50px; border-radius: 25px; background: #102b70; color:#fff; margin-right:20px; }

.gallery li{ float:left; width:120px; height:120px; overflow: hidden; }
.gallery li:nth-child(2){ margin:0 10px; }
.content2 a:hover{ opacity:0.5; }

#footer *{ float:left; }
#footer div{ width: 1000px; margin-top:30px;}

#footer li{ float:left; height:20px; margin:0 20px 15px 0; }
#footer li:not(:last-child){ border-right:1px solid #999;  padding-right:20px;}
#footer li a:hover{ opacity: 0.3; }
#footer p{ clear:both; font-size:14px; letter-spacing: 1px; }

#footer select{ width:200px; height:30px; border:1px solid #102b70; margin-top:40px; }








