
@charset "utf-8";
*{ margin:0; padding:0; list-style: none; }
section h2{ display: none; }


.visual{width:100%; height:600px; /*overflow:hidden;*/ }

.visual ul{ width:400%; height:600px; }

.visual li{ width:25%; height:600px; float:left; }

.v1{ 
    background: url(../images/main_img1.JPG) no-repeat center top/cover;}

.v2{ 
    background: url(../images/main_img2.JPG) no-repeat center top/cover;}

.v3{ 
    background: url(../images/main_img3.JPG) no-repeat center top/cover;}

.v4{ 
    background: url(../images/main_img4.JPG) no-repeat center top/cover;}


.visual li>div{ width:1200px; margin:0 auto; color:#fff; }
.visual li>div p:nth-child(1){ padding: 200px 0 10px 0; font-size:70px;}


.visual_btn button{ border:0; background:none; position: absolute; cursor:pointer; }

.visual_btn button:nth-child(1){ left:20px; margin-top: -380px; }
.visual_btn button:nth-child(2){ right:20px; margin-top: -380px; }

.visual_btn button:nth-child(3){     
    right:150px; margin-top: -380px;    
    width:75px; height:75px; background: #fff;
    border-radius: 40px; 
    font-size: 20px;
}
.visual_btn button:hover{ opacity: 0.4; }




















