@charset "utf-8";


*{ margin:0; padding:0; }



    .layer_popup{    
        /*★*/
        position: fixed;  
        left:50%; top:50%;
        margin: -200px 0 0 -300px; 
        display:none;

        width:600px; height:400px;
        border:1px solid;
        background: #fff;
        /*★*/ 
    }

.layer_popup h4{
    height:50px; line-height: 50px;  
    border-bottom:1px solid;
    text-indent: 20px;
}
.layer_popup p:nth-of-type(1){ text-align: center; line-height: 300px; }
.layer_popup p:nth-of-type(2){ text-align: right; }
.layer_popup p:nth-of-type(2) button{ margin-right:20px;  }








