@charset "utf-8";


*{ margin:0; padding:0; list-style: none; text-decoration: none; }

.newest{ width:1200px; height:200px; margin:0 auto;}
.newest>div{
    border:1px solid; box-sizing: border-box;
    width: 400px; height:200px; float:left; 
}

.c1>div{ 
    width:400px; height:200px;
}

    /*★*/
    .notice{ position: absolute;} 
    .gallery ol{ display: none; }
    .gallery h3{ margin-left:100px; position: relative; }
    /*★*/

.c1 h3 button{
    width: 90px; height:50px; 
    border:0; background: none;
    font-size:20px;
    cursor: pointer;
    
    border-bottom: 3px solid;
    margin-bottom:20px;
}
.c1 h3 button:hover{ background: red; color:#fff;  }


.notice li{ 
    height:30px; line-height: 30px;
    text-indent: 20px;
    border-bottom: 1px dotted #d9d9d9;
}
.gallery li{ 
  float:left;
    width:120px; height:100px;
    background: red;
    margin-left:10px;
}








